extends layout.pug
block content
  body
    .title
      p#logo thinkPhilosophy's
      h1 MeetEmma 2.0!
    .dashboard
      h2 Dashboard
      .main
        each tweet in tweets
          ul.tweet
            input#tweet-id(type='hidden', value=tweet.id)
            li.tweet-content(type='text' method='post' value=`${tweet.content}`)= tweet.content
            li.tweet-category(type='text' method='post' value=`${tweet.category}`)= tweet.category
            .buttons
              form(action=`/manualTweet/${tweet.id}`, method='post')
                button(type='submit') Tweet
              form(action=`/editTweet/${tweet.id}`, method='get')
                button(type='submit') Edit
              form(action=`/deleteTweet/${tweet.id}`, method='post')
                button(type='submit') Delete
      
    
